h1 {
  color: rgb(255,0,0);
  font-weight: 700;
  font-size: 16px;
  margin: 16px;
}
nav {
  position: relative;
  text-align: right;
  font-weight: 700;
  overflow: hidden;
}
img {
  margin: 8px auto;
  display: block;
}
h2,p {
  font-weight: 700;
  font-size: 16px;
  margin: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-image: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%);
  background-attachment: fixed;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 16px;
}
.logo {
  display: inline-block;
  position: absolute;
  height: 30px;
  margin: 8px;
  width: 30px;
  left: 0;
  top: 0;
}
button {
  border-radius: 10px;
  background: inherit;
  padding: 14px 24px;
  margin: 14px 24px;
  font-weight: 700;
  font-size: 16px;
}
#links {
  text-align: center;
  display: none;
}
.fa-github {
  border-radius: 10px;
  position: fixed;
  padding: 10px;
  margin: 10px;
  bottom: 0;
  right: 0;
}
nav a .icon {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}
nav a:hover {
  background: rgb(255,0,0);
  color: white;
}
section,footer {
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  display: flex;
}
section,footer,.margin {
  padding: 10px 5px;
  margin: 10px 5px;
}
@media(min-width:500px) {
  nav a {
    display: inline-block;
  }
}
@media(prefers-color-scheme:dark) {
  button {
    border: 2px solid white;
    box-shadow: none;
  }
  p,nav a,button,.fa-github {
    color: white;
  }
  nav,.fa-github,section,footer {
    background: black;
  }
}
@media(prefers-color-scheme:light) {
  button {
    box-shadow: 4px 4px 10px 4px lightgray;
    border: 2px solid black;
  }
  p,nav a,button {
    color: black;
  }
  section,footer,.fa-github {
    box-shadow: 2px 2px 10px 2px lightgray;
  }
  nav,.fa-github,section,footer {
    background: white;
  }
}